.paytion {
    padding-bottom: 142px;
    border-bottom: 1px solid #3D3D3D;
    position: relative;
    overflow: hidden;

    &__content {
        padding-top: 151px;
        
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &__object-one {
        max-width: 1020px;
        width: 100%;
        height: 416px;

        position: absolute;
        z-index: -1;
        left: clamp(2.688rem, calc(-7.162rem + 49.25vw), 31.25rem);
        top: clamp(-11.25rem, calc(-17.284rem + 30.17vw), 6.25rem);

        border-radius: 1020px;
        background: linear-gradient(88deg, #5D5F6F 0%, #2B2E3C 93.73%, #232D41 93.73%);
        filter: blur(250px);


    }

    &__title {
        max-width: clamp(12.75rem, calc(-2.25rem + 75vw), 56.25rem);
        width: 100%;
        color: #F1F1F1;
        font-size: clamp(2.188rem, calc(1.907rem + 1.4vw), 3rem);
        font-weight: 800;
        line-height: 110%;
    }

    &__grid-blocks {
        display: grid;
        justify-content: center;
        align-items: center;

        gap: 20px;
        grid-template-columns: clamp(18.75rem, calc(11.728rem + 14.98vw), 23.75rem) 
        clamp(5.063rem, calc(-12.581rem + 37.64vw), 17.625rem) 
        clamp(18.75rem, calc(2.949rem + 33.71vw), 30rem);

        grid-template-areas: 
        "lisence maps maps"
        "riviews riviews reputation";

        @media (max-width: 740px) {
            grid-template-columns: 1fr;

            grid-template-areas: 
            "lisence"
            "maps"
            "riviews"
            "reputation";
        }


    }

    &__grid-lisence {
        height: 320px;

        padding: 20px 0 0 30px;
        gap: 20px;

        grid-area: lisence;
    }

    &__block-top {
        display: flex;
        justify-content: center;
    }


    &__texts-lisence {
        gap: 7px;
    }

    &__text-lisence {
        max-width: 323px;
        width: 100%;
    }

    &__grid-maps {
        height: 320px;
        padding-top: 20px;

        grid-area: maps;

        @media (width < 500px) {
            padding-top: 60px;
        }
    }

    &__maps-top {
        display: flex;
        justify-content: center;

    }

    &__texts-maps {
        gap: 8px;
        align-items: end;
        padding-right: 31px;

        margin-top: -68px;

        @media (width < 500px) {
            align-items: start;
            margin-top: 0;
            margin-left: 20px;
        }
    }

    &__text-maps {
        max-width: clamp(12.688rem, calc(-1421.938rem + 4600vw), 15.563rem);
        width: 100%;
        padding-left: clamp(0rem, calc(-1933.625rem + 6200vw), 3.875rem);

        
    }

    &__span {
        padding-left: clamp(0rem, calc(-311.875rem + 1000vw), 0.625rem);
    }

    &__grid-riviews {
        height: 320px;
        padding: 26px 14px 32px 17px;
        grid-area: riviews;

        @media (width < 600px) {
            min-height: 465px;
        }
        
    }

    &__riviews-bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (width < 600px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 10px;
            margin-top: 45px;
        }

        @media (max-width: 350px) {
            flex-direction: column;
            justify-content: start;
            text-align: start;
            align-items: normal;
            gap: 10px;
            margin-top: clamp(1.563rem, calc(0.134rem + 7.14vw), 2.813rem);
        }
        
    }

    &__riviews-top {
        display: flex;
        justify-content: center;

        @media (max-width: 600px) {
            width: 200px;
            margin-left: clamp(2rem, calc(-5.714rem + 38.57vw), 8.75rem);
            padding-top: clamp(1.25rem, calc(-0.893rem + 10.71vw), 3.125rem);
        }
    }

 
    &__texts-riviews{
        margin-top: 10px;
        
    }

    &__text-riviews {
        max-width: 365px;
        width: 100%;

        margin-top: 8px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 15px clamp(2.5rem, calc(1.559rem + 2.01vw), 3.125rem);
        height: 60px;
        border-radius: 10px;
        border: 1px solid #9FA2AC;
        background: linear-gradient(141deg, #202124 0%, #24252D 42.71%, #1C1D21 100%);


        color: #F2F2F2;
        text-align: center;
        font-size: clamp(0.875rem, calc(0.687rem + 0.4vw), 1rem);
        font-weight: 700;
        line-height: normal;
        transition: ease 1s;

        &:hover {
            color: black;
            background: white;

        }

        &:active {
            border: 1px solid #9FA2AC;
            background: #7B7C81;
            color: #FFF;
            transition: 0.2s;
        }

        @media (width < 600px) {
            margin-top: 10px;
            padding: 15px 50px;
        }
    }


    &__grid-reputation {
        height: 320px;
        padding: clamp(0.625rem, calc(-0.161rem + 3.93vw), 1.313rem) clamp(0.563rem, calc(-1.771rem + 11.67vw), 1.875rem) 29px clamp(1.75rem, calc(1.306rem + 2.22vw), 2rem);
        grid-area: reputation;
        gap: 10px;


    }

    &__reputation-top {
        display: flex;
        justify-content: center;
    }

    &__texts-reputation {
        gap: 7px;
        text-align: end;
        margin-top: -25px;

        @media (width < 500px) {
            text-align: start;
        }
    }
    
    &__text-reputation {

        @media (width < 500px) {
            max-width: 420px;
            width: 100%;
        }
    }

}

.card-all {
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    border: 1px solid #3D3D3D;
    background: linear-gradient(141deg, #202124 0%, #24252D 42.71%, #1C1D21 100%);

    @media (max-width: 740px) {
        max-width: clamp(18.375rem, calc(-1.863rem + 101.19vw), 44.938rem);
        width: 100%;
    }
}

.title-all {
    color: #ECEBEB;
    font-size: clamp(1rem, calc(0.895rem + 0.53vw), 1.125rem);
    font-weight: 700;
    line-height: normal;
}

.text-all {
    color: var(--subtitle-text-color, #BEBEBE);
    font-size: clamp(0.875rem, calc(0.78rem + 0.48vw), 1rem);
    font-weight: 400;
    line-height: 130%;
}

.texts-all {
    display: flex;
    flex-direction: column;
}